Port 22
ListenAddress 10.10.10.12
HostKey /home/sysadmin/data-center-lab/srv/app01/ssh_host_ed25519_key
PidFile /run/sshd-app01.pid
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication yes
UsePAM no
X11Forwarding no
LogLevel VERBOSE
AllowGroups devops sudo
Subsystem sftp /usr/lib/openssh/sftp-server
